extends ../layouts/application.pug

block content
  a(href=route('newStatus'))= t('views.status.list.create')
  table.table.table-hover
    thead
      tr
        th(scope='col')= t('views.status.list.id')
        th(scope='col')= t('views.status.list.name')
        th(scope='col')= t('views.status.list.dateCreated')
        th
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= status.createdAt
          td
            a(href='#')= t('views.status.list.edit')
            +buttonTo('#', 'delete')(value=t('views.status.list.delete') class="btn btn-link")
