extends ../layouts/application.pug

block content
  a(href=route('newLabel'))= t('views.label.list.create')
  table.table.table-hover
    thead
      tr
        th(scope='col')= t('views.label.list.id')
        th(scope='col')= t('views.label.list.name')
        th(scope='col')= t('views.label.list.dateCreated')
        th
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td
            a(href=`/labels/${label.id}/edit`)= t('views.label.list.edit')
            +buttonTo(`/labels/${label.id}`, 'delete')(value=t('views.label.list.delete') class="btn btn-link")
